<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make A Wish Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <style>
        form {
            width: 40%;
        }
    </style>
</head>
<body>
    <span id="msg"></span>
    <form id="form">
        <fieldset>
            <legend>Ask 8 Ball</legend>
            <input id="inputbox" type="text" placeholder="Type your wish" name="wish">
            <input type="submit" value="Ask 8 Ball">
        </fieldset>
       
    </form>
</body>
</html>